nav ul{
    display:flex;
    list-style:none;
    font-family:'playfair display', serif;
    font-size:2rem;
    font-weight:600;
    justify-content:flex-end;

    li{
        padding:10px 40px;
    }

    a{
        text-decoration:none;
        color: #2f2f2f;
        text-transform:uppercase;

        &:hover, 
        &:focus, 
        &:focus-within{
            border-bottom: 5px solid $button-color;
        }
    }
}