nav ul{
    display:flex;
    list-style:none;
    font-family:'playfair display', serif;
    font-size:2rem;
    font-weight:600;
    justify-content:flex-end;
    margin-top:0;
    padding-top:35px;

    li{
        padding:10px 40px;
    }

    a{
        text-decoration:none;
        color: #2f2f2f;
        text-transform:uppercase;

        &:hover, 
        &:focus, 
        &:focus-within{
            border-bottom: 5px solid $button-color;
        }
    }
}

.home-header{
    background-image:url(../images/header-image.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:800px;
    width:100%;
    position:relative;


    img{
        padding:50px;
        padding-right:0;
        position:absolute;
        right:0;
        bottom:-200px;
        background-color:$accent-color;
    }

    h1{
        text-align:center;
        position:absolute;
        z-index: 10;
        bottom:0;
        right:25%;
    }
}

.blog-header{
    background-image:url(../images/blog-header.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:600px;

    h2{
        text-align:center;
        padding-top:100px;
    }
}

.contact-header{
    background-image:url(../images/contact-header.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:600px;

    h2{
        text-align:center;
        padding-top:100px;
    }
}

.about-header{
    background-image:url(../images/about-header.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:600px;

    h2{
        text-align:center;
        padding-top:100px;
        margin-left:200px;
    }
}