@import 'setup';
@import 'mixins';
@import 'variables';
@import 'header';
@import 'footer';

/*General Styles*/

html{
    font-size:62.5%;
}
body{
    margin: 0 auto;
    max-width:1500px;
}

.wrapper{
    
    margin:0 auto;
    padding:0 100px
}

img{
    background-color:$accent-color
}

p{
    font-family: 'Roboto', sans-serif;
    color:#2c2c2c;
    font-size:2rem;
    line-height:3.2rem;
}

button{
    display:block;
    @include button-style;
}

a{
    text-decoration:none;
    color:#2c2c2c;
}

h1 {@include heading(15rem, 800);}
h2 {@include heading(5rem, 600);}
h3 {@include heading(4.2rem, 600);}
h4 {@include heading(3.2rem, 400);}

/*Home Page Styles*/

// About Section //
.about{
    background-color:$primary-color;
    padding-top:200px;
    padding-bottom:200px;
    width:100%;
    
    h2{
        text-align:center;
        margin-bottom:0;
    }

    p{
        padding:20px 200px;
    }

    button{
        margin:0px auto;
    }

}

// More Info Section //

.more-info{
    background-color:$secondary-color;
}


.mi-text{
    padding:50px;
    width:50%;

    h3{
        text-align:center;
    }

    
}

.new-gear,
.unlock{
    margin:0 auto;
    width:100%;
    display:flex;

    img{
        width:50%;
        position:relative;
    }
}

.unlock img{
    top:-50px;
    box-shadow: 30px 30px #FDFA69;
    margin-right:100px;
    
}

.new-gear img{
    bottom: -30px;
    box-shadow: -30px 30px #FDFA69;
    margin-left:100px;
}

.unlock {

    h3{
        text-align:left;
    }

    p{
        margin-right:50px;
    }

}

.new-gear{

    h3, p{
        text-align:right;
        margin-left:50px;
    }
    
    button{
        margin-left:407px;
    }
}

//Links//

.links{
    display:flex;
    flex-wrap:wrap;
    padding-top:100px;
    padding-bottom:50px;
    background-color:$primary-color;
}

.links-text{
    width:50%;
    padding:50px 50px 0 0;
    display:flex;
    flex-wrap:wrap;

    span{
        display:flex;
        justify-content:center;
        align-items: center;
        background-color: $button-color;
        height:60px;
        width:60px;
        border-radius:100%;
    }
    i{
        font-size:3rem;
        
    }

    h3{
        margin:0;
        padding-left:30px;
    }
    p{
        padding-left:90px;
    }
}

//Home Banner//

.home-banner{
    background-image:url(../images/banner.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:500px;
    width:100%;
}

//Profile Section//

.profile{
    padding: 50px 50px;
    background-color:$primary-color;

    img{
        box-shadow: 30px 30px #FDFA69; 
        margin-left:50px;
        display:inline-block;
    }

}

.profile-text{
    padding-left:100px;
    width:67%;
    display:inline-block;
}

// Gallery Section //

.gallery {
    background-color:$secondary-color;
    margin:0 auto;
    padding:100px;

    ul{
        list-style:none;
        display:flex;
        margin-top:0;
        justify-content:space-between;
        padding-left:0;
    }

}