@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type=checkbox],
label[for=toggle] {
  opacity: 0;
  float: left;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: "playfair display", serif;
  font-size: 2rem;
  font-weight: 600;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
  padding-top: 35px;
}
nav ul li {
  padding: 10px 40px;
}
nav ul a {
  text-decoration: none;
  color: #2f2f2f;
  text-transform: uppercase;
}
nav ul a:hover, nav ul a:focus, nav ul a:focus-within {
  border-bottom: 5px solid #4CEEA7;
}

.home-header {
  background-image: url(../images/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  position: relative;
}
.home-header img {
  padding: 50px;
  padding-right: 0;
  position: absolute;
  right: 0;
  bottom: -200px;
  background-color: #FDFA69;
}
.home-header h1 {
  text-align: center;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 25%;
}

.blog-header {
  background-image: url(../images/blog-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}
.blog-header h2 {
  text-align: center;
  padding-top: 100px;
}

.contact-header {
  background-image: url(../images/contact-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}
.contact-header h2 {
  text-align: center;
  padding-top: 100px;
}

.about-header {
  background-image: url(../images/about-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}
.about-header h2 {
  text-align: center;
  padding-top: 100px;
  margin-left: 200px;
}

footer {
  background-color: #2C2C2C;
  text-align: center;
}
footer p {
  color: #FAFAFA;
  font-size: 1.4rem;
  margin: 0;
}

/*General Styles*/
html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  max-width: 1500px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 100px;
}

p {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-size: 2rem;
  line-height: 3.2rem;
}

button {
  display: block;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  line-height: 3.2rem;
  letter-spacing: 1px;
  background-color: #4CEEA7;
  color: #2C2C2C;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

h1 {
  font-size: 15rem;
  color: #2C2C2C;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 7.5rem;
  color: #2C2C2C;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 4.2rem;
  color: #2C2C2C;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 2.5rem;
  color: #2C2C2C;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  text-transform: uppercase;
}

/*HOME PAGE STYLES*/
.about {
  background-color: #EFFDF3;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
}
.about h2 {
  text-align: center;
  margin-bottom: 0;
}
.about p {
  padding: 20px 200px;
}
.about button {
  margin: 0px auto;
}

.more-info {
  background-color: #FAFAFA;
}

.mi-text {
  padding: 50px;
  width: 50%;
}
.mi-text h3 {
  text-align: center;
}

.new-gear,
.unlock {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.new-gear img,
.unlock img {
  width: 50%;
  position: relative;
}

.unlock img {
  top: -50px;
  -webkit-box-shadow: 30px 30px #FDFA69;
          box-shadow: 30px 30px #FDFA69;
  margin-right: 100px;
}

.new-gear img {
  bottom: -30px;
  -webkit-box-shadow: -30px 30px #FDFA69;
          box-shadow: -30px 30px #FDFA69;
  margin-left: 100px;
}

.unlock h3 {
  text-align: left;
}
.unlock p {
  margin-right: 50px;
}

.new-gear h3, .new-gear p {
  text-align: right;
  margin-left: 50px;
}
.new-gear button {
  margin-left: 407px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #EFFDF3;
}

.links-text {
  width: 50%;
  padding: 50px 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.links-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4CEEA7;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
.links-text i {
  font-size: 3rem;
}
.links-text h3 {
  margin: 0;
  padding-left: 30px;
}
.links-text p {
  padding-left: 90px;
}

.home-banner {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

.profile {
  padding: 50px 50px;
  background-color: #EFFDF3;
}
.profile img {
  -webkit-box-shadow: 30px 30px #FDFA69;
          box-shadow: 30px 30px #FDFA69;
  margin-left: 50px;
  display: inline-block;
}

.profile-text {
  padding-left: 100px;
  width: 67%;
  display: inline-block;
}

.gallery {
  background-color: #FAFAFA;
  margin: 0 auto;
  padding: 100px;
}
.gallery ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

/*BLOG PAGE STYLES*/
.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  background-color: #EFFDF3;
}

aside img {
  position: relative;
  z-index: 10;
}

.blog-sidebar {
  background-color: #FAFAFA;
  margin-left: 100px;
  padding: 20px;
  padding-top: 350px;
  position: relative;
  top: -400px;
  left: 15px;
}
.blog-sidebar a {
  font-weight: 600;
  font-style: italic;
}
.blog-sidebar ul {
  list-style: none;
  padding: 0;
}
.blog-sidebar li {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-size: 2rem;
  line-height: 3.2rem;
}
.blog-sidebar li::before {
  content: "•";
  color: #4CEEA7;
  padding-right: 15px;
  font-size: 2rem;
}
.blog-sidebar h4 {
  margin-top: 80px;
}

.blog-post {
  margin-left: 150px;
  position: relative;
  top: -350px;
}

.post-content {
  padding-left: 30px;
  margin-left: -30px;
  border-left: 5px solid #FDFA69;
  border-bottom: 5px solid #FDFA69;
  margin-right: 100px;
}
.post-content h2 {
  padding-top: 60px;
  margin: 0;
}

.date {
  padding-top: 0;
  padding-bottom: 50px;
}

.blog-content-image {
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: -30px 30px #FDFA69;
          box-shadow: -30px 30px #FDFA69;
  margin-right: 30px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}
.comments img {
  width: 100px;
  height: 100px;
}
.comments p {
  margin: 0;
  padding-bottom: 20px;
}

.comment-text {
  padding-right: 100px;
  padding-left: 30px;
  padding-top: 0;
}

.blog-main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 100px;
}
.blog-main form input {
  width: calc(50% - 30px/2);
  border: none;
  border-bottom: 2px solid #4CEEA7;
  background-color: #EFFDF3;
  padding: 15px 0;
  margin-bottom: 30px;
  font-size: 2rem;
}
.blog-main form input::-webkit-input-placeholder, .blog-main form textarea::-webkit-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.blog-main form input::-moz-placeholder, .blog-main form textarea::-moz-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.blog-main form input:-ms-input-placeholder, .blog-main form textarea:-ms-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.blog-main form input::-ms-input-placeholder, .blog-main form textarea::-ms-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.blog-main form input::placeholder,
.blog-main form textarea::placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.blog-main form input#email {
  margin-left: 30px;
}
.blog-main form textarea {
  width: 100%;
  font-size: 2rem;
  padding: 15px;
  border: none;
  border: 2px solid #4CEEA7;
  background-color: #EFFDF3;
  resize: none;
}
.blog-main form button {
  width: 100%;
  margin-top: 30px;
}

/*CONTACT PAGE STYLES*/
.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  padding-left: 150px;
  background-color: #EFFDF3;
}
.contact-main aside {
  margin-right: 175px;
  white-space: nowrap;
}
.contact-main aside ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0;
}
.contact-main aside li {
  font-size: 2rem;
  padding-right: 20px;
}
.contact-main aside p {
  margin: 0;
  overflow: hidden;
}

.contact-main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  background-color: #FAFAFA;
  -webkit-box-shadow: -30px 30px #FDFA69;
          box-shadow: -30px 30px #FDFA69;
  position: relative;
  top: -300px;
}
.contact-main form input {
  width: calc(50% - 30px/2);
  border: none;
  border-bottom: 2px solid #4CEEA7;
  background-color: #FAFAFA;
  padding: 15px 0;
  margin-bottom: 30px;
  font-size: 2rem;
}
.contact-main form input::-webkit-input-placeholder, .contact-main form textarea::-webkit-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.contact-main form input::-moz-placeholder, .contact-main form textarea::-moz-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.contact-main form input:-ms-input-placeholder, .contact-main form textarea:-ms-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.contact-main form input::-ms-input-placeholder, .contact-main form textarea::-ms-input-placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.contact-main form input::placeholder,
.contact-main form textarea::placeholder {
  color: #2c2c2c;
  opacity: 1;
}
.contact-main form input#email {
  margin-left: 30px;
}
.contact-main form textarea {
  width: 100%;
  font-size: 2rem;
  padding: 15px;
  border: none;
  border: 2px solid #4CEEA7;
  background-color: #FAFAFA;
  resize: none;
}
.contact-main form button {
  width: 100%;
  margin-top: 30px;
}

/*BONUS ABOUT PAGE STYLES*/
.about-main {
  background-color: #EFFDF3;
  margin: 0;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 5px solid #FDFA69;
}
.about-main img {
  position: relative;
  top: -300px;
  -webkit-box-shadow: 30px -30px #FDFA69;
          box-shadow: 30px -30px #FDFA69;
  padding: 0;
  margin: 0;
}
.about-main .about-text {
  padding-left: 100px;
}
.about-main h4 {
  margin: 0;
  padding-bottom: 50px;
}
.about-main p {
  margin: 0;
  padding-bottom: 30px;
}
.about-main p:nth-of-type(2) {
  font-size: 1rem;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .header-nav ul {
    padding-top: 75px;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  .home-header img {
    width: 50%;
    bottom: -64px;
  }
  .home-header h1 {
    font-size: 11rem;
    right: 29%;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .about p {
    padding: 20px 100px;
  }

  .mi-text {
    padding: 100px;
  }

  .unlock, .new-gear {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .unlock img, .new-gear img {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 75%;
    left: 0;
  }
  .unlock .mi-text, .new-gear .mi-text {
    width: 100%;
    padding-top: 25px;
  }

  .new-gear {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .new-gear img {
    left: 130px;
    margin-bottom: 100px;
  }
  .new-gear h3, .new-gear p, .new-gear button {
    text-align: left;
    margin-left: 0;
  }

  .links-text {
    padding: 30px 15px 0 0;
  }
  .links-text h3 {
    padding-top: 10px;
  }

  .profile img {
    display: block;
    margin: 0 auto;
  }

  .profile-text {
    width: 100%;
    padding: 0 70px;
  }
  .profile-text button {
    margin: 0 auto;
  }

  .gallery li {
    width: 30%;
  }
  .gallery li img {
    width: 100%;
  }

  .about-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-main img {
    top: -200px;
  }

  .about-header h2 {
    margin: 0;
  }

  .about-text {
    padding: 0 50px;
    margin-top: -100px;
  }

  .wrapper {
    padding: 0;
  }

  .blog-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .blog-post img {
    margin-right: 0;
  }

  aside {
    margin-top: -150px;
  }

  .blog-sidebar {
    left: 0;
  }

  .contact-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-main aside {
    margin-right: 0;
    margin-top: -200px;
    text-align: center;
  }
  .contact-main aside ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .home-header {
    height: 440px;
  }
  .home-header .wrapper {
    margin: 0 auto;
    padding: 0;
  }
  .home-header h1 {
    font-size: 8rem;
    right: 27%;
    bottom: -4%;
  }

  .header-nav {
    margin: 0;
    display: none;
  }
  .header-nav ul {
    display: block;
    padding: 50px 115px 25px 115px;
    margin: 0;
    background: #4CEEA7;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 20;
    font-size: 4rem;
    width: 100%;
  }
  .header-nav ul::after {
    content: "CAPTURED";
    font-size: 10rem;
    color: #92f5c9;
    position: relative;
    top: 25px;
  }
  .header-nav a:hover,
.header-nav a:focus,
.header-nav a:focus-within {
    border-bottom: 5px solid #FAFAFA;
  }

  label[for=toggle] {
    opacity: 1;
    color: #2c2c2c;
    font-size: 7.6rem;
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: 30;
    cursor: pointer;
  }

  #toggle:checked ~ .header-nav {
    display: block;
  }

  .links {
    padding-top: 50px;
  }

  .links-text {
    width: 100%;
  }

  .profile {
    padding-top: 80px;
  }

  .profile-text h2 {
    text-align: center;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  p {
    padding: 0px;
    font-size: 1.75rem;
  }

  .home-header h1 {
    font-size: 6rem;
    right: 1%;
    bottom: 14%;
  }

  .about p {
    padding: 30px;
    font-size: 1.75rem;
  }

  .mi-text {
    padding: 30px;
  }

  .new-gear img {
    left: 16px;
  }

  .profile-text {
    padding-bottom: 30px;
  }

  .gallery {
    padding-top: 15px;
  }

  .header-nav ul::after {
    font-size: 4rem;
  }

  .header-nav ul {
    font-size: 3rem;
  }

  .about-header h2 {
    padding-top: 130px;
  }

  .about-main img {
    width: 80%;
    top: -350px;
  }

  .about-text {
    margin-top: -200px;
  }

  .blog-post {
    margin: 0;
    padding: 40px;
  }
  .blog-post img {
    top: -250;
  }
  .blog-post p {
    padding: 0px;
    font-size: 1.75rem;
  }

  .post-content {
    margin-right: 0;
  }

  .comment-text {
    padding-right: 0;
  }

  .blog-main form {
    padding-right: 0;
  }
  .blog-main aside img {
    width: 100%;
  }

  .contact-main {
    padding: 0;
  }
  .contact-main form input {
    width: 100%;
  }
  .contact-main form input#email {
    margin-left: 0;
  }
  .contact-main aside {
    margin-bottom: 50px;
  }
}
/* Smallest phones */
@media (min-width: 320px) and (max-width: 400px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.5rem;
  }

  .header-nav ul {
    font-size: 2rem;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .header-nav ul::after {
    font-size: 1.8rem;
    padding-bottom: 20px;
  }

  .home-header {
    height: 270px;
  }
  .home-header h1 {
    bottom: 2%;
    right: 12%;
    font-size: 4.5rem;
  }

  .about p {
    font-size: 1.5rem;
  }

  .unlock img {
    margin-right: 0;
  }
  .unlock p {
    margin-right: 0;
  }

  .new-gear img {
    right: 0;
    left: 0;
    margin-left: 0;
    -webkit-box-shadow: 30px 30px #FDFA69;
            box-shadow: 30px 30px #FDFA69;
  }

  .profile-text {
    padding: 30px;
  }

  .blog-header {
    height: 270px;
  }

  .blog-main form input {
    width: 100%;
  }
  .blog-main form input#email {
    margin-left: 0;
  }

  .blog-post {
    top: -250px;
  }

  .contact-main aside {
    margin-top: -333px;
  }
  .contact-main form {
    padding: 10px;
    top: -415px;
  }
  .contact-main form input, .contact-main form textarea {
    font-size: 1.3rem;
  }

  .comments {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comments img {
    margin-bottom: 30px;
  }
}